header {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1 {
        max-width: 30rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase; 
        font-size: 300;
    }
}



@include breakpoint(0, $mobile) {
header {
    background-size: contain;
    height: 25rem;
    
   
    h1 {
        font-size: 0.7rem;
        padding: 1rem; 
        display: inline-block;
    }

    .believe {
        margin-left: 50%;
        max-width: 100%;
        h2 {
            color: $primary;
            font-size: 1.9rem;
            padding-top: 12rem;
            margin-bottom: 1.3rem;
            margin-left: 0;
            margin-right: 4rem;
            font-weight: 200;
        }
    }
    .button {
        background-color: black;
    }
}
}



@include breakpoint($desktop, $max-width) {
    header {
        background-size: auto;
        background-position: right top;
        height: 80vh;
        background-image: url(./images/header-image-2.jpg);
        background-position-x: 95%;
        background-position-y: 10%;
        margin-bottom: 8rem;

        h1 {
            font-size: 1.125rem;
            padding: 1.5rem; 
        }

        #mainnav {
            float: right;
            margin-right: 1rem;
            margin-top: -3.3rem;

            #hamburger {
                display: none;
            }

            ul {
                display: flex;
                text-transform: uppercase;
                text-align: right;
                font-weight: 400;
                font-size: 0.85rem;
                align-items: center;
                
                li {
                    padding: 0.7rem;
                    display: inline-block;

                    a{
                        color: hsl(26,100%,72%);
                        border-bottom: 1px solid hsl(26,100%,72%);
                        padding-bottom: 0.1rem;
                        font-size: 1.125rem;
                    }

                    a:hover {
                        color: $primary;
                        border-bottom: 1px solid $primary;
                        padding-bottom: 0.4rem;
                        transition: all 0.5s ease 0s;
                    }
                }
            }
        }
        .believe {
            margin-left: 5rem;
            margin-top: 15rem;
            h2 {
                font-size: 3.55rem;
                margin-left: 0;
                font-weight: 200;
            }
        }
        .button {
            background-color: black;
            font-size: 1.1rem;
        }
    } 
}