@include breakpoint(0, $mobile) {
    #news{
        p{ 
            text-align: left;
            padding: 1rem;
            line-height:1.6rem;
            font-weight: 200;
            font-size: 0.9rem;
        }
        img {
            height: 15rem;
            object-fit: cover;
        }
        h3 {
            font-weight: 300;
            font-size: 22px;
            margin: 0.5rem;
        }
        .super-headline{
            margin-top: 3rem;
            margin-left: 0;
            margin-bottom: 0;
            padding: 0 0 0 1rem;
            font-weight: 600;
        }
        h2 {
            margin-bottom: 0.5rem;
        }
    
        .flex-wrapper{
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            overflow-x: auto;
            padding: 1rem;
            scroll-behavior: smooth;
        }
    
        article{
            max-width: 80%;
            max-height: 80%;
            display: flex;
            flex-direction: column;
            background-color: #F7F7F7;
            
            h3 {
                font-size: 22px;
                text-align: left;
                margin: 0.5rem;
                color: $primary;
                font-weight: 300;
                a{
                    color: $primary;
                }
            }
    
            p {
                font-size: 0.9rem;
                text-align: left;
                padding: 1rem;
                line-height:1.6rem;
                font-weight: 200;
            }
    
            .button {
                max-width: 120px;
                color: black;
                margin-left: 1rem;
                text-align: center;
                margin-bottom: 1rem;
            }
    
            img {
                height: 15rem;
                object-fit: cover;
            }
        }
    }
    
}


@include breakpoint($desktop, $max-width) {
    #news {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1500px;
        margin: 0 auto;

        .flex-wrapper {
            column-gap: 2rem;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding: 1rem;
            scroll-behavior: smooth;
        }

        .super-headline{
            margin-top: 5rem;
            font-size: 1.2rem;
            font-weight: 400;
            padding: 0;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 200;
        }

        h3 {
            font-weight: 200;
            padding-top: 0.4rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 1rem;
            font-size: 1.75rem;
            color: $primary;
            a{
                color: $primary;
            }
        }


        article{
            width: calc(33.3333% - 32px);
            max-height: 80%;
            display: flex;
            flex-direction: column;
            background-color: #F7F7F7; 

            img {
                height: 275px;
                width: 100%;
                object-fit: cover;
            }

            p{
                font-size: 1.2rem;
                padding: 32px 32px 32px 32px;
                font-weight: 200;
                line-height: 1.5;
            }
            
            .button {
                font-size: 1.1rem;
                max-width: 160px;
                margin-left: 32px;
                font-weight: 600;
                margin-bottom: 32px;
                color: black;
                text-align: center;
            }
        }
    }
}
